<!DOCTYPE html>
<html>
  <head>
    <title>CircleManager</title>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P351C6XDG6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-P351C6XDG6');
    </script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/humburger' %>
    <% else %>
      <%= render 'shared/before_login_humburger' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
